<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!--suppress AndroidDomInspection -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="xyz.tynn.hoppa.time.ThreeTenInitializer"
                android:value="androidx.startup"/>
        </provider>
    </application>
</manifest>
